.text {
  mask: url("@images/enigmaHeroText.svg");
  mask-position: cover;
  mask-repeat: no-repeat;
  mask-size: 100%;
}


.heroSection{
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)), url("@images/heroBackground.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 46%;

}
div > span > .bg-neonGradient {
  animation: neonMove 2s ease-in-out 0s infinite alternate forwards;

}

.whiteLogo{
  mask: url('@images/whiteLogo.svg');
}
.coloredLogo{
  background-image: url('@images/coloredLogo.svg');
  background-color: transparent;
}
.whiteBox{
  mask: url('@images/whiteBox.svg');
  mask-size: cover;
}



@keyframes neonMove {
  0%{
    transform: translateX(0) rotate(-30deg);
  }
  25%{
    transform: translateX(0) rotate(-30deg);
  }
  75%{
    transform: translateX(72vw) rotate(-30deg);
  }
  100%{
    transform: translateX(72vw) rotate(-30deg);
  }
}

.bg-crimsonGradient{
  animation: firstCrimsonMove 2s ease-in-out 0s infinite alternate forwards;
}

.bg-crimsonGradient2{
  animation: secondCrimsonMove 2s ease-in-out 0s infinite alternate forwards;
}



@keyframes firstCrimsonMove {
  0%{
    transform: translateY(100%) translateX(-50%) ;
  }
  25%{
    transform: translateY(100%) translateX(-50%);
  }
  65%{
    transform: translateY(0) translateX(-50%);
  }
  100%{
    transform: translateY(0) translateX(-50%);
  }
}

@keyframes secondCrimsonMove {
  0%{
    transform: translateY(-50%) translateX(90%) ;
  }
  25%{
    transform: translateY(-50%) translateX(90%);
  }
  65%{
    transform: translateY(50%) translateX(90%);
  }
  100%{
    transform: translateY(50%) translateX(90%);
  }
}

button:hover > .learnMoreSpan > img:first-of-type{
  transform: translateX(100%) translateY(-100%);
}

button:hover > .learnMoreSpan > img:nth-of-type(2){
  transform: translateX(-50%) translateY(-50%);
}

button:hover > .learnMoreSpan{
  background-color: white;
}

button:not(.knowledgeButton):hover > span:first-of-type{
  color: white;
  
}

.rotatingWheel{
  animation: rotatingWheel 5s ease-in-out 1s infinite normal forwards;
}

@keyframes rotatingWheel{
  0%{
    transform: rotate(0deg);
  }
  13%{
    transform: rotate(0deg);
  }
  26%{
    transform: rotate(15deg);
  }
  39%{
    transform: rotate(15deg);
  }
  52%{
    transform: rotate(30deg);
  }
  65%{
    transform: rotate(30deg);
  }
  78%{
    transform: rotate(45deg);
  }
  91%{
    transform: rotate(45deg);

  }
}

.aboutCard1,
.aboutCard1Mobile{
  mask-image: url('@images/aboutCard1.svg');
}
.aboutCard2,
.aboutCard2Mobile{
  mask-image: url('@images/aboutCard2.svg');
}
.aboutCard3,
.aboutCard3Mobile{
  mask-image: url('@images/aboutCard3.svg');
}

div:hover > .aboutCard1{
  background-color: #0c6291;
} 
div:hover > .aboutCard2{
  background-color: #7e1946;
} 
div:hover > .aboutCard3{
  background-color: #a63346;
} 
.aboutCard1Mobile{
  background-color: #0c6291;
} 
.aboutCard2Mobile{
  background-color: #7e1946;
} 
.aboutCard3Mobile{
  background-color: #a63346;
}
.rotatingCircleContainer:nth-child(1) > div{
  animation: rotatingCircle1 1.85s ease-in-out 0s infinite alternate forwards;
}
.rotatingCircleContainer:nth-child(2) > div{
  animation: rotatingCircle2 1.85s ease-in-out 0s infinite alternate forwards;
}
.rotatingCircleContainer:nth-child(3) > div{
  animation: rotatingCircle3 1.85s ease-in-out 0s infinite alternate forwards;
}
.rotatingCircleContainer:nth-child(4) > div{
  animation: rotatingCircle4 1.85s ease-in-out 0s infinite alternate forwards;
}

@keyframes rotatingCircle1{
  0%,20%{
    transform: rotate(0deg);
  }
  35%{
    transform: rotate(-3deg);
  }
  
  65%{
    transform: rotate(93deg);
  }

  80%,100%{
    transform: rotate(90deg);

  }
}
@keyframes rotatingCircle2{
  0%,20%{
    transform: rotate(180deg);
  }
  35%{
    transform: rotate(177deg);
  }
  65%{
    transform: rotate(273deg);
  }
  80%,100%{
    transform: rotate(270deg);

  }
}

@keyframes rotatingCircle3{
  0%,20%{
    transform: rotate(0deg);
  }
  35%{
    transform: rotate(-3deg);
  }
  65%{
    transform: rotate(93deg);
  }
  80%,100%{
    transform: rotate(90deg);

  }
}
@keyframes rotatingCircle4{
  0%,20%{
    transform: rotate(180deg);
  }
  35%{
    transform: rotate(177deg);
  }
  65%{
    transform: rotate(273deg);
  }
  80%,100%{
    transform: rotate(270deg);

  }
}

.infiniteSlider{
  animation: infiniteSlide 11s linear 0s infinite normal;
}

@keyframes infiniteSlide{
  0%{
    transform: translateX(0%);
  }
  100%{
    transform: translateX(calc(-50% - 231.5px));
  }
}