.text {
  mask: url("#textMask");
}

div > span > .bg-neonGradient {
  animation: neonMove 2s ease-in-out 0s infinite alternate forwards;

}

@keyframes neonMove {
  0%{
    transform: translateX(0) rotate(-30deg);
  }
  25%{
    transform: translateX(0) rotate(-30deg);
  }
  75%{
    transform: translateX(72vw) rotate(-30deg);
  }
  100%{
    transform: translateX(72vw) rotate(-30deg);
  }
}

.bg-crimsonGradient{
  animation: firstCrimsonMove 2s ease-in-out 0s infinite alternate forwards;
}

.bg-crimsonGradient2{
  animation: secondCrimsonMove 2s ease-in-out 0s infinite alternate forwards;
}



@keyframes firstCrimsonMove {
  0%{
    transform: translateY(100%) translateX(-50%) ;
  }
  25%{
    transform: translateY(100%) translateX(-50%);
  }
  65%{
    transform: translateY(0) translateX(-50%);
  }
  100%{
    transform: translateY(0) translateX(-50%);
  }
}

@keyframes secondCrimsonMove {
  0%{
    transform: translateY(-50%) translateX(90%) ;
  }
  25%{
    transform: translateY(-50%) translateX(90%);
  }
  65%{
    transform: translateY(50%) translateX(90%);
  }
  100%{
    transform: translateY(50%) translateX(90%);
  }
}

button:hover > .learnMoreSpan > img:first-of-type{
  transform: translateX(100%) translateY(-100%);
}

button:hover > .learnMoreSpan > img:nth-of-type(2){
  transform: translateX(-50%) translateY(-50%);
}

button:hover > .learnMoreSpan{
  background-color: white;
}

button:hover > span:first-of-type{
  color: white;
  
}

.rotatingWheel{
  animation: rotatingWheel 5s ease-in-out 1s infinite normal forwards;
}

@keyframes rotatingWheel{
  0%{
    transform: rotate(0deg);
  }
  13%{
    transform: rotate(0deg);
  }
  26%{
    transform: rotate(15deg);
  }
  39%{
    transform: rotate(15deg);
  }
  52%{
    transform: rotate(30deg);
  }
  65%{
    transform: rotate(30deg);
  }
  78%{
    transform: rotate(45deg);
  }
  91%{
    transform: rotate(45deg);

  }
}

.aboutCard1{
  mask-image: url('@images/aboutCard1.svg');
}
.aboutCard2{
  mask-image: url('@images/aboutCard2.svg');
}
.aboutCard3{
  mask-image: url('@images/aboutCard3.svg');
}

div:hover > .aboutCard1{
  background-color: #0c6291;
} 
div:hover > .aboutCard2{
  background-color: #7e1946;
} 
div:hover > .aboutCard3{
  background-color: #a63346;
} 